# Xcode build + user cruft
DerivedData/
SourcePackages/
.build/
**/xcuserdata/
*.xcuserstate
.DS_Store.DS_Store
HOMEY Clean/.DS_Store
*.xcuserstate

# Xcode-first tooling artifacts
vendor/
fastlane/report.xml
fastlane/test_output/
build/
DerivedData/
