SWIFT_VERSION = 6.0
IPHONEOS_DEPLOYMENT_TARGET = 16.4
CLANG_ENABLE_MODULES = YES
DEAD_CODE_STRIPPING = YES
ONLY_ACTIVE_ARCH = NO
ENABLE_TESTABILITY = YES
OTHER_SWIFT_FLAGS = -strict-concurrency=complete -warn-concurrency -enable-actor-data-race-checks
INFOPLIST_FILE = $(SRCROOT)/HOMEY iOS/Info.plist
